@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slideDownAnimation {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.slide-down-animation {
  animation-name: slideDownAnimation;
  animation-duration: 0.5s; /* Adjust the animation duration as needed */
}

@keyframes slide-up {
  0% {
    transform: translateY(300px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slide-up-delay-1 {
  animation: slide-up 1s ease-out forwards;
  animation-duration: 2s;
  animation-delay: 0s;
}

.animate-slide-up-delay-2 {
  animation: slide-up 1s ease-out forwards;
  animation-duration: 1.75s;
  animation-delay: 0.25s;
}

.animate-slide-up-delay-3 {
  animation: slide-up 1s ease-out forwards;
  animation-duration: 1.5s;
  animation-delay: 0.50s;
}

.animate-slide-up-delay-4 {
  animation: slide-up 1s ease-out forwards;
  animation-duration: 1.25s;
  animation-delay: 0.75s;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
